.btn {
    text-transform: uppercase;
    background: transparent;
    color: black;
    display: inline-block;
    font-weight: 700;
    border: 2px solid black;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
  }
  .dark-mode .btn {
    color: white;
    border-color: white;

  }
  .dark-mode {
    background-color: black;
  }
  
